* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main, body, html {
    margin: 0 -8px 0 -8px !important;
    height: 100%;
}

header {
    margin: -8px -8px 0 -8px !important;
}