<nav class="nav flex">
        <a class="nav-logo" href="#"></a>
        <ul class="nav-menu flex">
        <li class="nav-menu__link font-m"><a class="selected" href="#">Поездки</a></li>
        </ul>
        <a class="nav-user flex" href="#">
            <div class="nav-user__name flex font-s">
                Заболоцкий К.О.
                <div class="logout"><i class="bx bx-arrow-from-left"></i></div>
            </div>
        </a>
</nav>